
---
---


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Ethics Guidelines</title>
</head>

<body>

    <main class="ethics">
        <ul>
          <!-- <h1 class = "ethics-title"> IT Ethics Guidelines </h1> -->
          <p4> In today's technological landscape, ethical considerations in IT play a crucial role make sure our data
            stays private, our technology is used properly and that we use it responsibly. These guidelines also help
            in making fair AI, protecting ideas, and stopping bad incidents like cyberbullying. IT ethics help us
            make smart choices with technology, aiming for a better society while thinking about what's right and wrong.
          </p4>
          <br>
  
          <h4> 1/ Developer Guidelines </h4>
          <p4>
            - Informed Consent: Ensure users' informed consent when collecting data or implementing functionalities. 
          </p4><br>
          <p4>- Security Measures: Prioritize robust security measures to safeguard user data against breaches and
            unauthorized access.
          </p4>
          <br>
          
  
          <h4> 2/ Privacy and Security</h4>
          <p4> - Privacy: Incorporate privacy considerations into the development of systems and
            applications from the outset. </p4><br>
            
          <p4> - Consent and User Rights: Protect user's data and respect user rights regarding consent, data access, and deletion, complying with
            relevant privacy laws and regulations.
          </p4>
          <br>
  
          <h4> 3/ Cyberesecurity Ethics </h4>
          <p4> - Ethical Hacking and Penetration Testing: Employees should follow ethical standards and legal regulations while
            conducting security assessments and penetration testin according to the EC-Council - Certified Ethical
            Hacker (CEH). </p4> <br>
          <p4> - Cyber Practices: Promote responsible user behavior and adherence to cybersecurity best
            practices to prevent cyber threats according to the National Cyber Security Centre - Cyber Essentials.
          </p4>
          <br>
  
          <h4> Reference and Citation </h4>
          <p4> 
            <ol>
              <li><a href="https://www.eccouncil.org/code-of-ethics/#:~:text=Not%20to%20neither%20associate%20with,authorized%20and%20within%20legal%20limits.">EC-Council - Certified Ethical Hacker (CEH) Code of Ethics</a></li>
              <li><a href="https://www.ncsc.gov.uk/cyberessentials/overview">National Cyber Security Centre - Cyber Essentials</a></li>
              <li><a href="https://gdpr-info.eu/issues/consent/">General Data Protection Regulation (GDPR) - European Union</a></li>
              <li><a href="https://dl.acm.org/doi/10.1145/3609230">Association for Computing Machinery - ACM Learning Center</a></li>
            </ol>
          </p4>
  
        </ul>
      </main>
    
    

</body>

</html>
